{% extends 'base.html.twig' %}

{% block title %}Adresses index{% endblock %}

{% block body %}
    <h1>Adresses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomComplet</th>
                <th>Entreprise</th>
                <th>Adresse</th>
                <th>Complement</th>
                <th>Telephone</th>
                <th>Ville</th>
                <th>CodePostal</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
            <tr>
                <td>{{ adress.id }}</td>
                <td>{{ adress.nomComplet }}</td>
                <td>{{ adress.entreprise }}</td>
                <td>{{ adress.adresse }}</td>
                <td>{{ adress.complement }}</td>
                <td>{{ adress.telephone }}</td>
                <td>{{ adress.ville }}</td>
                <td>{{ adress.codePostal }}</td>
                <td>{{ adress.pays }}</td>
                <td>
                    <a href="{{ path('adresses_show', {'id': adress.id}) }}">show</a>
                    <a href="{{ path('adresses_edit', {'id': adress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adresses_new') }}">Create new</a>
{% endblock %}
