{% extends 'base.html.twig' %}

{% block title %}Adresses{% endblock %}

{% block body %}
    <h1>Adresses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adress.id }}</td>
            </tr>
            <tr>
                <th>NomComplet</th>
                <td>{{ adress.nomComplet }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ adress.entreprise }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ adress.adresse }}</td>
            </tr>
            <tr>
                <th>Complement</th>
                <td>{{ adress.complement }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ adress.telephone }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adress.ville }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ adress.codePostal }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adress.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adresses_index') }}">back to list</a>

    <a href="{{ path('adresses_edit', {'id': adress.id}) }}">edit</a>

    {{ include('adresses/_delete_form.html.twig') }}
{% endblock %}
